.App {
    max-width: 500px;
    margin: 0 auto;
}

.todoList {
    border: 1px solid black;
    padding: 20px;
}
p {
    border-bottom: 1px solid black;
    padding: 10px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}


.taskDisplay{
    display: flex;
    justify-content: space-between;
}

.fa-times-circle:before {
    font-size: 25px;
}

.enterInputDisplay{
    display: flex;
}